@import "components.less";

body.layout-frontend{
  // Navigation
  #mainNav{
    h3, h6, li {
      transition: color 0.2s ease-in-out;
    }
    &.navbar-shrink{
      color: var(--bs-dark);
      background-color: var(--bs-light)!important;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
      min-height: 90px;
      .nav-item .nav-link:not(.active), .navbar-brand{
        color: var(--bs-dark);
      }
      .navbar-brand{
        .company-name{
          b{
            color: inherit;
          }
        }
        .slogan{
          color: var(--bs-dark);
        }
      }
      .navbar-toggler{
        color: var(--bs-dark);
        border-color: var(--bs-dark);
      }
    }
    .navbar-brand{
      color: var(--bs-primary);
      .company-name{
        color: inherit;
        b{
          color: var(--bs-light);
        }
      }
      .slogan{
        color: var(--bs-light);
      }
    }
    .nav-item{
      text-align: center;
      form{
        display: inline-block;
        select[name="locale"]{
          width: auto;
          text-align: center;
          text-align-last: center;
          option{
            text-align: left;
          }
        }
      }
    }
    .navbar-toggler{
      outline: none;
      &:focus{
        box-shadow: unset;
      }
    }
  }

  // Main Content
  main{
    position: relative;
    section{
      background-color: var(--bs-white);
      display: block;
      position: relative;
      overflow-x: clip; // Lock screen size from AOS
      &:first-of-type{
        box-shadow: rgba(0, 0, 0, 0.2) 0px -2.5px 5px;
      }
      &:nth-of-type(even){
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2.5px;
        z-index: 1;
      }
    }
  }

  // Header & Banner/Slider
  header{
    position: sticky;
    top: 0;
    .swiper{
      .dimsog-slider-item{
        .container{
          a{
            text-decoration: unset;
            position: relative;
            display: inline-block;
            overflow: hidden;
            &::before{
              content: "";
              display: block;
              position: absolute;
              width: 200%;
              height: 200%;
              top: 100%;
              left: 100%;
              background: rgb(255,255,255);
              background: linear-gradient(135deg,
                rgba(255,255,255,0) 0%,
                rgba(255,255,255,0) 20%,
                rgba(255,255,255,0.1) 35%,
                rgba(255,255,255,0.3) 50%,
                rgba(255,255,255,0.1) 65%,
                rgba(255,255,255,0) 80%,
                rgba(255,255,255,0) 100%
              );
              transition: top .75s ease-in-out, left .75s ease-in-out;
            }
            &:hover{
              &::before{
                top: -100%;
                left: -100%;
              }
            }
          }
        }
      }
    }
  }

  // Products & Services
  #products{
    .portfolio-item {
      height: 100%;
      .card{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        overflow: hidden;
        .portfolio-link {
          display: block;
          position: relative;
          width: 100%;
          height: auto;
          .portfolio-hover {
            z-index: 1;
            height: 100%;
          }
        }
        .portfolio-caption{
          height: 100%;
          flex: 1;
        }
      }
    }

    .owl-carousel{
      .owl-stage-outer{
        .owl-stage{
          display: flex;
          .owl-item{
            &:last-of-type{
              margin-right: 0!important;
            }
          }
        }
      }
    }
  }

  // Address
  #address{
    padding-bottom: 0px;
    .map-wrapper{
      .map-banner{
        position: sticky;
        width: 100%;
        height: 75vh;
        top: 90px;
        &.banner-overlay{
          &::before{
            background-image: radial-gradient(rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.85) 100%);
            z-index: 2;
          }
          + .map-container{
            z-index: 2;
          }
        }
        > .contents{
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          left: 0;
          top: 0;
          width: 100%;
          height: 90%;
          z-index: 2;
          text-align: center;
          color: var(--bs-light);
        }
      }
      .map-container{
        box-shadow: rgba(0, 0, 0, 0.2) 0px -2.5px 5px;
        background-color: var(--bs-white);
        width: 100%;
        text-align: center;
        padding-bottom: 6rem;
        iframe{
          width: 90vw;
          height: 50vh;
          border-radius: 5px;
          display: inline-block;
          overflow: hidden;
          position: relative;
          z-index: 1;
          padding: 0;
          margin: auto;
          margin-top: -10%;
          box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
          background-color: var(--bs-gray-200);
        }
      }
    }
  }

  #gallery{
    .gallery-container{
      .galleryList{
        display: flex;
        .galleryList-col{
          --per-row: calc(100% / 4);
          padding: unset;
          margin: unset;
          flex: 1 0 var(--per-row);
          max-width: var(--per-row);
          padding: 5px;
          /* Gaya default untuk layar kecil (md ke bawah) */
          @media (max-width: 991.98px) {
            --per-row: calc(100% / 3);
          }
          /* Gaya default untuk layar kecil (sm ke bawah) */
          @media (max-width: 767.98px) {
            --per-row: calc(100% / 2);
          }
          /* Gaya default untuk layar kecil (sm ke bawah) */
          @media (max-width: 575.98px) {
            --per-row: calc(100% / 1);
          }
          .galleryList-card{
            border-radius: 10px;
            overflow: hidden;
            height: 100%;
            .galleryList-cardImage{
              width: 100%;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              overflow: hidden;
              &::before{
                content: "";
                display: block;
                width: 100%;
                padding-bottom: 75%;
              }
              img{
                position: absolute;
                transition: all 0.3s ease-in-out;
                width: 100% !important;
                height: 100% !important;
                -o-object-position: center;
                object-position: center;
                -o-object-fit: cover;
                object-fit: cover
              }
            }
            .galleryList-cardBody{
              height: auto;
              margin-top: 0;
              .galleryList-cardTexts{
                a{
                  text-transform: none;
                }
              }
            }
          }
        }
      }
    }
  }

  // Footer
  footer#layout-footer{
    position: relative;
    z-index: 2;
    &.footer-section {
      background: #151414;
      position: relative;
    }
    ul {
        margin: 0px;
        padding: 0px;
    }
    .footer-cta {
      border-bottom: 1px solid #373636;
    }
    .single-cta i {
      color: #ff5e14;
      font-size: 30px;
      float: left;
      margin-top: 8px;
    }
    .cta-text {
      padding-left: 15px;
      display: inline-block;
      h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
      }
      span {
        color: #757575;
        font-size: 15px;
      }
    }
    .footer-content {
      position: relative;
      z-index: 2;
    }
    .footer-pattern img {
      position: absolute;
      top: 0;
      left: 0;
      height: 330px;
      background-size: cover;
      background-position: 100% 100%;
    }
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-logo img {
        max-width: 200px;
    }
    .footer-text p {
      margin-bottom: 14px;
      font-size: 14px;
          color: #7e7e7e;
      line-height: 28px;
    }
    .footer-social-icon span {
      color: #fff;
      display: block;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 20px;
    }
    .footer-social-icon a {
      color: #fff;
      font-size: 16px;
      margin-right: 15px;
    }
    .footer-social-icon i {
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 38px;
      border-radius: 50%;
    }
    .facebook-bg{
      background: #3B5998;
    }
    .twitter-bg{
      background: #55ACEE;
    }
    .google-bg{
      background: #DD4B39;
    }
    .footer-widget-heading h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 40px;
      position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 50px;
      background: #ff5e14;
    }
    .footer-widget ul li {
      display: inline-block;
      float: left;
      width: 50%;
      margin-bottom: 12px;
    }
    .footer-widget ul li a:hover{
      color: #ff5e14;
    }
    .footer-widget ul li a {
      color: #878787;
      text-transform: capitalize;
    }
    .subscribe-form {
      position: relative;
      overflow: hidden;
      input {
        width: 100%;
        padding: 14px 28px;
        background: #2E2E2E;
        border: 1px solid #2E2E2E;
        color: #fff;
      }
      button {
          position: absolute;
          right: 0;
          background: #ff5e14;
          padding: 13px 20px;
          border: 1px solid #ff5e14;
          top: 0;
      }
      button i {
        color: #fff;
        font-size: 22px;
        transform: rotate(-6deg);
      }
    }
    .copyright-area{
      background: #202020;
      padding: 25px 0;
    }
    .copyright-text p {
      margin: 0;
      font-size: 14px;
      color: #878787;
    }
    .copyright-text p a{
      color: #ff5e14;
    }
    .footer-menu {
      li {
        display: inline-block;
        margin-left: 20px;
      }
      li:hover a{
        color: #ff5e14;
      }
      li a {
        font-size: 14px;
        color: #878787;
      }
    }
  }
}
