description = "Frontend Layout"

[localePicker]
forceUrl = 0

[SeoCmsPage]

[newsSubscribe]
==
<?php
    function onStart()
    {
        // Get the media library instance
        define("Media", \System\Classes\MediaLibrary::instance());
    }
?>
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> #}
        
        {% component "SeoCmsPage" %}
        
        <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/images/favicon/apple-touch-icon.png'|theme }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/images/favicon/favicon-32x32.png'|theme }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/images/favicon/favicon-16x16.png'|theme }}">
        <link rel="manifest" href="{{'assets/images/favicon/site.webmanifest'|theme }}">

        {# Google fonts #}
        {# <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" /> #}
        {# <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" /> #}

        {# Fontawsome #}
        <link rel="stylesheet" href="{{ 'assets/vendor/font-awesome/v6.6.0/all.css'|theme }}">

        {# Javascripts #}
        <script type="text/javascript" src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',
            'assets/vendor/bootstrap.js',
            'assets/vendor/bootstrap.bundle.min.js',
            'assets/vendor/jquery.validate/jquery.validate.min.js',
            'assets/vendor/owl.carousel/owl.carousel.min.js',
            'assets/vendor/jquery/jquery.easing.min.js',
            'assets/vendor/jquery.ui/jquery-ui.min.js',
            'assets/vendor/videojs/videojs.min.js',
        ]|theme }}"></script>

        {# Vendor CSS #}
        <link rel="stylesheet" href="{{ [
            '@framework.extras',
            'assets/vendor/aos/aos.css',
            'assets/vendor/owl.carousel/owl.carousel.min.css',
            'assets/vendor/owl.carousel/owl.theme.default.min.css',
            'assets/vendor/bs.datePicker/css/bootstrap-datepicker.min.css',
            'assets/vendor/dateTimePicker/css/jquery.datetimepicker.css',
            'assets/vendor/jquery.ui/jquery-ui.min.css',
            'assets/vendor/videojs/videojs.min.css',
        ]|theme }}">

        {# Layout CSS #}
        <link rel="stylesheet" href="{{ [
            'assets/css/styles.css',
            'assets/stylesheets/annimations.less',
            'assets/stylesheets/frontend/main.less',
        ]|theme }}">

        {% styles %}
        {% partial "meta/seo" %}

        {% set pageId = this.page.id %}
        {% set pageTitle = this.page.title %}
        {% if pageId is empty %}
            {% set pageId = page.id %}
        {% endif %}
        {% if pageTitle is empty %}
            {% set pageTitle = page.title %}
        {% endif %}
    </head>

    <body class="page-{{ pageId }} layout-{{ this.layout.id }}">

        {# Navigation #}
        {% partial 'shared/navigation' %}

        {# Content #}
        <main id="layout-content">
            {% page %}

            {% partial 'shared/footer' %}
        </main>

        {# Back to top button #}
        <button id="btn-back-to-top" type="button" class="btn btn-secondary btn-floating btn-lg right bounce2 forward">
            <i class="fas fa-solid fa-chevron-up"></i>
        </button>

        {# Support button #}
        <div class="floating-container left wiggle pause-on-hover">
            <div class="supp shadow">
                <div class="floating-content">
                    <i class="fa-solid fa-headset fa-2xl"></i>
                </div>
            </div>
            <div class="sub-button shadow">
                <a href="https://api.whatsapp.com/send?phone=6287860828780&text=Hello%20Genta%20Sari%20Silver." target="_blank">
                    <i class="fa-brands fa-whatsapp fa-xl"></i>
                </a>
            </div>
            <div class="sub-button shadow">
                <a href="https://www.facebook.com/profile.php?id=100072696517976" target="_blank">
                    <i class="fa-brands fa-facebook-f fa-xl"></i>
                </a>
            </div>
            <div class="sub-button shadow">
                <a href="https://www.instagram.com/gentasari_silverclass" target="_blank">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
            </div>
            <div class="sub-button shadow">
                <a href="https://www.google.com/search?q=genta+sari+silver&sca_esv=41244a8f2e041b17&sca_upv=1&sxsrf=ADLYWIJWDqhf_09u6cUUPFJy7R4OvKGSGA%3A1721213798468&ei=ZqOXZqykHMyUseMP9Jy8uA8&ved=0ahUKEwis76iI9a2HAxVMSmwGHXQOD_cQ4dUDCA8&uact=5&oq=genta+sari+silver&gs_lp=Egxnd3Mtd2l6LXNlcnAiEWdlbnRhIHNhcmkgc2lsdmVyMgoQIxiABBgnGIoFMgsQLhiABBjHARivATICECYyCBAAGIAEGKIEMggQABiABBiiBDIIEAAYgAQYogQyCBAAGIAEGKIEMhoQLhiABBjHARivARiXBRjcBBjeBBjgBNgBAUi0EFD-BViPD3ACeACQAQCYAXCgAbsEqgEDNC4yuAEDyAEA-AEBmAIGoAL6BMICCxAAGIAEGIYDGIoFmAMAiAYBugYGCAEQARgUkgcDMi40oAe0NA&sclient=gws-wiz-serp" target="_blank">
                    <i class="fa-solid fa-globe fa-xl"></i>
                </a>
            </div>
        </div>

        {# Scripts #}
        <script src="{{ [
            'assets/vendor/moment/moment.min.js',
            'assets/vendor/dateTimePicker/js/jquery.datetimepicker.full.js',
            'assets/vendor/aos/aos.js',
            'assets/javascript/app.js',
            'assets/javascript/scripts.js',
            'assets/javascript/frontend/main.js',
        ]|theme }}"></script>

        {% snowboard all %}
        {% scripts %}
    </body>
</html>
